<h4>Sign Up</h4>
<form action="/signup" method="post">
    <p>User Name: <input type="text" name="username" id="username"></p>
    <p>Email: <input type="text" name="email" id="email"></p>
    <p>Password: <input type="text" name="password" id="password"></p>
    <div><input type="submit" value="submit"></div>
</form>