<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <h1>
      <img src="https://toppng.com/uploads/preview/follow-me-gold-twitter-icon-vector-11563031490l4vyrkbrdu.png" width=60 height=50>
      <div>Fwitter!</div>
      </h1>

      <%= yield %>
    </div>

  </body>
</html>
